#tablet_indicator {
    display:none;
}

.right_panel_header_il {
    font-family:SFUIText-Bold;
    font-size:13px;
    color:rgba(0,0,0,0.87);
    float:left;
    height:16px;
    clear:both;
    line-height:16px;
}

.select_skintone_text {
    margin:15px auto 15px auto;
    width:100%;
    height:auto;
    clear:both;
    font-size:13px;
    font-family:SFUIText-Bold;
}

.skintone_image_container {
    margin:15px auto;
    position:relative;
    border:5px solid white;
    width:263px;
    height:263px;
    /* box-shadow:2px 2px 2px 2px #dddddd; */
    /* box-shadow: 2px 2px 2px 3px rgb(247, 247, 247); */
    overflow:hidden;
    background: #FFFFFF;
    box-shadow: 0 1px 7px 0 rgba(0,0,0,0.14);
}

.brightness_slider {
    position:absolute;
    width:24px;
    right: 0px;
}

.new_look_label {
    position:absolute;
    display:flex;
    top:0px;
    left:0px;
    width: 35px;
    height: 14px;
    color:white;
    background-color:black;
    font-size:8px;
    font-family:SFUIText-Bold;
    justify-content:center;
    align-items:center;
}

.slider_bar {
    position:relative;
    height: 100%;
    width: 10px;
    z-index: 0;
}

#il_protip_tut {
    width: 100%;
    margin-bottom: 25px;
    background-size: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
}

left_btn_pto:hover {
   background-color: white;
}

.slider_bar_gradient {
    position:absolute;
    height: 100%;
    width: 6px;
    top: 1px;
    z-index:1;
}

.slider_knob {
    position:absolute;
    cursor:pointer;
    width: 20px;  /* changes dynamically, set in initInterpolations */
    height: 20px;
    border-radius: 50%;
    background: white;
    z-index:2;
    -webkit-box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 22px -5px rgba(0,0,0,0.75);
}

.tablet_options_placeholder {
    display:none;
    position:relative;
    border-top:1px solid rgb(216, 216, 216);
    margin-top: 22px;
    width:100%;
    height:36px;
}

.additional_opts {
    display:inline-flex;
    height: 100%;
    align-items:center;
    position:relative;
    float:right;
}

.rightpanel_wrapper {
    display:flex;
    flex-direction:row;
    height: 500px; /* dynamically set by interpolate divs */
}

.rightpanel_content_wrapper {
    position:relative;
    display:flex;
    flex-grow:1;
    flex-direction:column;
    min-width:0px;
}

#skintone_next_btn {
    width: 70%;
    margin: 40px 15% 18px;
    cursor: default;
    position: relative;
    top: 10px;
    box-shadow: none;
    /* background-color: grey; */
    opacity: 0.5;
}

#skintone_next_btn_enabled {
    width: 70%;
    margin: 40px 15% 18px;
    cursor: default;
}

.skintone_line {
    height: 1px;
    width: 50px;
    background-color: #EEEEEE;
    position: absolute;
}


/* hidden scrollbar */
#il_scroll_container::-webkit-scrollbar,
#protip_wrapper::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}


.rightpanel_pdt_il::-webkit-scrollbar {
    -webkit-overflow-scrolling: auto;
    width: 0px;
}


.rightpanel_pdt_il::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 15px solid rgba(0,0,0,0);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.23);
    -webkit-box-shadow: 0 0 6px 0px rgba(255,255,255,0.01);
}


/**** fix for dynamic styling in iOS ***/
.c1000 {
display:flex;
align-items:center;
height:66px;
width:100%;
font-family:Helvetica;
border-top:1px solid #eeeeee;
border-bottom:1px solid #eeeeee;
}

.c1001 {
flex-shrink:0;
height:auto;
}

.c1002 {
opacity:0;
width:100%;
height:auto;
width:50px;
height:46px;}

.c1003 {
    position:relative;
    border-radius:2px;
    width:50px;
    height:23px;
    text-transform:uppercase;
    color:white;
    font-size:9px;
    font-family:Helvetica-Bold;
    text-align:center;
    line-height:23px;
    cursor:pointer;
}

.c1004{
position:relative;
opacity:0;
float:left;
top:50%;
width:98px;
height:auto;
transform:translate(0,-50%);
}





.camview {
position:absolute;
left:50%;
top:50%;
width: 600px;
height: 300px;
transform:translate(-50%,-50%);
}

.protip {
    float:left;
    height:auto;
    margin-top:8px;
    line-height: 18px;
    font-size: 13px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 19px;
    padding-bottom: 17px;
    border:1px solid black;
    font-family:SFUIText;
}


.flex_child_top_il {
    display: inline-flex;
    position:relative;
    width: 100%;
    box-shadow: -500px 0px 0px 0px rgba(251,251,251,1), 500px 0px 0px 0px rgba(251,251,251,1);
}

.price_text {
  font-size:11px;
  position:relative;
  bottom:3.5px;
}

.product_container_description {
  flex-grow:1;
  display:inline-block;
  overflow:hidden;
}

.product_description_text {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
  font-family:SFUIText;
  font-size:11px;
  height:14px;
}

.product_description_text_bold {
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
  font-family:SFUIText-Bold;
  font-size:11px;
  height:14px;
}

.footer {
    font-size:12px;
    color:#666;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0px;
}

.product_container_shop {
    flex-shrink:0;
    display: inline-block;
    font-family: SFUIText-Bold;
    text-align:center;
    padding-right: 1px;
    padding-left: 18px;
}

.rightpanel_padding_white {
    flex-shrink: 0;
}

.bottom_right_padding {
    flex-shrink: 0;
}

.bottom_right_wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
}

.bottom_right_content {
    padding: 0px 6px;
    -webkit-box-shadow: 0px -7px 9px -6px rgba(212,212,212,1);
    -moz-box-shadow: 0px -7px 9px -6px rgba(212,212,212,1);
    box-shadow: 0px -7px 9px -6px rgba(212,212,212,1);
}

.product_container {
    margin:0px 0px -1px 0px;
    width:100%;
}

.products_container {
    position:relative;
    display:inline-block;
    margin-top:6px;
    margin-bottom:14px;
    width:100%;
}

.product_labels {
    margin:10px 0px 2px 0px;
    width:100%;
    text-align:left;
}

.leftsectioncontainer {
float:left;
width:570px;
height:700px;
}

.title_hr_il {
    position:relative;
    display: inline-block;
    flex-grow: 1;
    height: 1px;
    background:black;
}

.rightpanelcontainer_il {
  position: relative;
  display:inline-block;
  width: 411px;
}

.rightpanel_blank {
position:absolute;
left:66%;
width:34%;
height:95%;
z-index:-10;
}

.rightpanel_title {
position:relative;
white-space: nowrap;
width:100%;
display:flex;
flex-shrink:0;
align-items:center;
justify-content:space-between;
font-family:SephoraSerifJune26-Book;
font-size:20px;
height:55px;
text-align:center;
}

.rightpanel_pdt_il {
position:absolute;
width:100%;
height:100%;
overflow-y:scroll;
overflow-x:hidden;
}

.tip_il {
    width: 100%;
    position:relative;
    overflow-y:auto;
    overflow-x:visible;
    padding-bottom:16px;
}

.bottom_right_cta_il {
  cursor: pointer;
  background-image:url('res/black_bar.png');
  background-size: 100% 100%;
  height:42px;
  width:48%;
  max-width: 165px;
  color:white;
  font-family:SFUIText;
  font-size:13px;
  border-radius:4px;
  display:inline-flex;
  justify-content: center;
  align-items: center;
}

.email_il {
    cursor: pointer;
    background-image:url('res/black_bar.png');
    background-size: 235px;
    height:40px;
    width:40%;
    color:white;
    text-align:center;
    font-family:SFUIText;
    font-size:13px;
    border-radius:4px;
    display:inline-block;
}

.new_button_il {
    border-radius:2px;
    background:linear-gradient(#3c3c3c,#000000);
    font-family:SFUIText;
    font-size:13px;
    line-height:36px;
    color:#ffffff;
    height:36px;
    cursor:pointer;
    box-shadow: 2px 2px 2px 2px #dddddd;
    text-align:center;
}


.new_button_il_shadow_centered{
    border-radius:2px;
    background:linear-gradient(#3c3c3c,#000000);
    font-family:SFUIText-Bold;
    font-size:12px;
    line-height:40px;
    color:white;
    height:36px;
    cursor:pointer;
    -webkit-box-shadow: 0px 0px 12px 1px rgba(225,225,225,1);
    -moz-box-shadow: 0px 0px 12px 1px rgba(225,225,225,1);
    box-shadow: 0px 0px 12px 1px rgba(225,225,225,1);
    text-align:center;
    text-transform:uppercase;
}

.share_il {
    background-image:url('res/black_bar.png');
    background-size: 235px;
    height:40px;
    width:40%;
    color:white;
    text-align:center;
    line-height:39px;
    font-family:SFUIText;
    font-size:13px;
    border-radius:4px;
    display:inline-block;
}

.share_email {
display: inline-flex;
justify-content: space-between;
width:100%;
position: relative;
background:white;
text-align:center;
}

.sub_bar_il{
position: absolute;
height: 36px;
width: 100%;
bottom: 0px;
background:rgba(0,0,0,0.8);
z-index:3;
}

.canvascontainer {
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

.il_refine_button {
display:inline-flex;
align-items: center;
position:relative;
font-family:SFUIText-Bold;
font-size:11px;
margin-right:23px;
color:#ffffff;
}

.il_split_button {
width:35px;
height:35px;
position:relative;
padding-bottom:15px;
z-index:2;
}

.il_surprise_button {
width:35px;
height:35px;
position:relative;
z-index:2;
}

.newphoto_btn {
width:35px;
height:35px;
}

.edit_text {
    display:inline-block;
    position:relative;
    top:1px;
}

.edit_img {
    width:22px;
    height:18px;
    margin-right:10px;
    float:left;
    display:inline-block;
    background:url(res/retake.png);
    background-size:cover;
}

.refine_text {
    display:inline-block;
    position:relative;
    text-transform:uppercase;
    top:1px;
}

.refine_img {
    width:21px;
    height:21px;
    margin-right:10px;
    position:relative;
    float:left;
    display:inline-block;
    background:url(res/icon_refine.png);
    background-size:cover;
}

.left_btn_blank {
position:absolute;
height:265px;
width:2000px;
left:50%;
transform:translate(-120%,0);
}

.blank_btn {
z-index:-1;
width:100%;
height:52px;
position:relative;
top:0px;
background:#eeeeee;
}

.leftpanelcontainer_il {
font-size:14px;
font-family:SFUIText;
color:#777777;
flex-shrink:0;
}

.il_photo_button {
display:inline-flex;
align-items:center;
font-family:SFUIText-Bold;
font-size:11px;
margin-right:30px;
color:#ffffff;
}

.left_btn_il {
width:100%;
height:52px;
line-height:52px;
position:relative;
top:0px;
padding-left:65px;
background:#eeeeee;
cursor:pointer;
border-bottom:0.5px solid #cccccc;
}

.leftbtn_text_il {
width:80%;
height:98%;
border-bottom:0.5px solid #cccccc;
line-height:52px;
font-size:13px;
margin-left:6px;
margin-top:19px;
}

.leftbtn_text > span {
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.left_panel_caret {
    position:absolute;
    display:inline-block;
    background-size:contain;
    background-repeat:no-repeat;
    margin-left:8px;
    top:50%;
    transform:translateY(-50%);
    width: 98%;
    height:13px;
}

.leftpanelsub {
    position:relative;
    display:inline-block;
    height:100%;
    text-align:left;
    padding-left:15px;
}

.look_name_text {
    position:relative;
    margin-top:5px;
    font-size:13px;
    font-family: SFUIText-Semibold;
    color:white;
}

.look_origins_text {
    position:relative;
    font-size:10px;
    font-family: SFUIText;
    color:white;
    margin-top:-1px;
}


.leftpaneltext {
    font-size:14px;
    line-height:18px;
}

.looks_scroll_left {
    z-index:11;
    width:30px;
    height:46px;
    left:3px;
    position:absolute;
    display:inline-block;
    background-image:url(res/left_white_caret.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.looks_scroll_right {
    z-index:5;
    width:30px;
    height:46px;
    position:absolute;
    right:-6px;
    display:inline-block;
    background-image:url(res/right_white_caret.png);
    background-size:contain;
    background-repeat: no-repeat;
}

.looks_container {
    position:relative;
    display:inline-block;
    width:100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

.look_on {
    display:flex;
    position:relative;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    float:left;
    width:98px;
    height:98px;
    margin-right:2px;
    overflow:hidden;
    border:2px solid black;
}

.look_off {
    position:relative;
    cursor:pointer;
    float:left;
    width:98px;
    height:98px;
    margin-right:2px;
    color:black;
    overflow:hidden;
    border:2px solid white;
}

.look_thumbnail {
    opacity:0;
    position:relative;
    width:98px;
    height:auto;
}

.look_off_img_wrapper {
    position:relative;
    width:98px;
    height:98px;
    background-size: 100% auto;
    background-position: center;
    overflow:hidden;
}

.look_on_img_wrapper {
    position:relative;
    width:94px;
    height:94px;
    background-size: 100% auto;
    background-position: center;
    overflow:hidden;
}

.skintone_off {
    margin-left:0px;
    width:68px;
    background:url(res/transparentpixel.png) repeat;
}

.skintone_on {
    margin-left:0px;
    width:68px;
    background:url(res/checkmark.png) no-repeat;
}


.skintone_font {
    text-transform:uppercase;
    font-family:SFUIText-Bold;
    font-size:10px;
}

.fontsize1 {
font-size:22px;
}

.fontsize2 {
font-size:18px;
}

.rightpanel_pdt_container {
width:100%;
height:100%;
position:relative;
display:inline-block;
overflow:hidden;
}

.upload_position {
    position: absolute;
    left: 185px;
    top: 98px;
    width: 150px;
    height: 40px;
    overflow: hidden;
    opacity: 0.01;
    z-index: 1;
}

#txt39 {
    position:absolute;
    padding-left: 10px;
    padding-right: 6px;
    margin-left: 5px;
    float:left;
    height:25px;
    margin-top:-3px;
    background:#ffffff;
    text-align:center;
    font-size:18px;
    font-family:SephoraSerifJune26;
    font-style:italic;
}

@media only screen and (max-width: 1169px){
.rightpanel_wrapper {
}

.left_btn_il {
    width:100%;
    height:52px;
    line-height:52px;
    position:relative;
    top:0px;
    padding-left:28px;
    background:#eeeeee;
    cursor:pointer;
    border-bottom:0.5px solid #cccccc;
}

.upload_position {
    position: absolute;
    left: 185px;
    top: 98px;
    width: 150px;
    height: 40px;
    overflow: hidden;
    opacity: 0.01;
    z-index: 1;
}

.rightpanel_blank {
display:none;
}

.share_email {
}

.c1000 {
}

.tip_il {
}

.rightpanel_title {
font-size:18px;
text-align:center;
}

.title_hr_il {
}

.middle_blank {
    height: 415px;
    width: 100%;
    border-bottom: 1px solid #bbbbbb;
}

.fontsize1 {
font-size:20px;
}

.fontsize2 {
font-size:14px;
}

.product_container {
    float: left;
    margin: 0px 0px -1px 0px;
    width: 100%;
}

.leftsectioncontainer {
float:left;
width:470px;
height:550px;
}

.left_btn_blank {
    position: absolute;
    height: 265px;
    width: 2000px;
    left: 50%;
    transform: translate(-115%,0);
}
}

@media only screen and (max-width: 770px){

#tablet_indicator {
    display: block;
}

.refine_img {
width:19px;
height:19px;
margin-right:5px;
float:left;
display:inline-block;
background:url(res/icon_refine_b.png);
background-size:cover;
}

.edit_img {
width:20px;
height:17px;
margin-right:5px;
float:left;
display:inline-block;
background:url(res/retake_b.png);
background-size:cover;
}

.il_photo_button {
    margin-left: 3px;
    margin-right: 0px;
    position: relative;
    z-index: 2;
    color:#000000;
}

.il_refine_button {
    margin-left: 27px;
    z-index: 2;
    color:#000000;
}

.leftpanelsub {
width:100%;
text-align:center;
color:white;
padding:0px;
text-transform:capitalize;
}

.additional_opts {
    float: left;
}

.bottom_right_content {
    /* no shadows please */
    -webkit-box-shadow: 0px 0px 0px 0px rgba(212,212,212,0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(212,212,212,0);
    box-shadow: 0px 0px 0px 0px rgba(212,212,212,0);
}

.bottom_right_wrapper {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(220,220,220,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(220,220,220,1);
    box-shadow: 0px 0px 13px 0px rgba(220,220,220,1);
}
