html  body {
   margin:0;
   padding:0;
   height:100%;
}

.live_preview_container_inner {
  left:0px;
  top:0px;
  position:absolute;
  width:125px;
  height:125px;
  display:block;
}

.mo_header_hr {
  height:1px;
  background:#eeeeee;
  display:inline-block;
  flex-grow:1;
}

.mo_subheader {
  white-space:nowrap;
  text-align:center;
  font-family:SFUIText-Bold;
  font-size:13px;
  margin:0px 15px;
}

.mo_subheader_container {
  position:relative;
  display:flex;
  width:268px;
  margin-top:27px;
  margin-bottom: 13px;
  justify-content:space-between;
  align-items:center;
}

.color_iq_container {
  position:relative;
	width:341px;
	height:72px;
	border:1px solid #cccccc;
	background: white;
	margin:22px 35px 0px 0px;
	overflow: auto;
}

.color_iq_img {
  position:absolute;
  height:100%;
  left:0px;
  top:0px;
}

.modelpreview_inner_border {
    left: 2px;
    top: 2px;
    position: absolute;
    width: 119px;
    height: 119px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid white;
}

.color_iq_subheader {
  position:relative;
  float:right;
  width:240px;
  font-size:13px;
  margin-top:10px;
  font-family:SFUIText;
  font-weight: bold;
}

.color_iq_text {
  position:relative;
  float:right;
  vertical-align:top;
  display:inline-block;
  width:240px;
  margin-top:9px;
  margin-bottom:5px;
  font-size:12px;
  font-family:SFUIText;
}

.refine_mid_stripe_contents {
  position:relative;
  display:inline-flex;
  flex:1;
  height:100%;
}

#CIQ_header {
    font-size: 15px;
}


.edit_next_btn {
  position:relative;
  text-transform:uppercase;
  width:250px;
  height:36px;
  margin-top:30px;
  margin-bottom:5px;
}

.snapshot_btn {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:23px;
  width:122px;
  /*margin-bottom:35px;*/
  cursor:pointer;
}

.vertical_split {
  position:absolute;
  height:100%;
  width:1px;
  background-color: #eeeeee;
}

.opt_wrappers {
  position:relative;
  cursor:pointer;
  width:50%;
  height:100%;
}

.take_photo_opt {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  position:relative;
  height:58px;
  width:100%;
}

.upload_opt {
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:center;
  position:relative;
  height:58px;
  width:100%;
}

.tablet_opts_section {
  position:relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:169px;
  height:40px;
  cursor:pointer;
}

.safari_opts_section {
  position:relative;
  display:flex;
  width:276px;
  height:88px;
}

.upload_area {
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  cursor:pointer;
}

.upload_text {
  position:relative;
  font-size:10px;
  font-family:SFUIText-Bold;
  text-transform:uppercase;
  cursor:pointer;
}

.upload_btn {
  position:relative;
  width:24px;
  height:23px;
}

.take_photo_btn {
  position:relative;
  width:28px;
  height:23px;
}

.take_photo_text {
  position:relative;
  font-size:10px;
  font-family:SFUIText-Bold;
  text-transform:uppercase;
  cursor:pointer;
}

/* with respect to viewport */
.centered_popup {
  position:fixed;
  text-align:center;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

.adjust_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  background-color:rgb(180, 180, 180);
}

.header_logo_left {
  position: relative;
  height: 11px;
  padding-left: 20px;
  float: right;
  top: 50%;
  transform: translateY(-50%);
}

.header_logo_centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14px;
}

.dial {
  float: right;
  position: relative;
  margin: 0px 2px;
  width: 13px;
  height: 13px;
  border: 1px solid white;
  background-color: black;
  cursor: pointer;
  border-radius: 18px;
}

.dial_container {
  display:inline-block;
  margin:0px 10px;
  cursor:pointer;
  width:36px;
  height:18px;
  border:1px solid black;
  border-radius:12px;
  position:relative;
  vertical-align: middle;
}

.burger_line {
  height:2px;
  width:100%;
  background:#ffffff;
  border-radius:2px;
}

.touchup_button {
  position:relative;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  font-family: SFUIText-Bold;
  margin-top: 31px;
  margin-bottom: 5px;
  width:250px;
  height:36px;
}

.makeover_windows {
  position:relative;
  display:inline-block;
  width:100%;
  height:510px;
  background-color:rgb(200, 200, 200);
}

.veil {
  display:none;
  position:absolute;
  z-index:1;
  width:100%;
  height:100%;
  background-color:rgba(50, 50, 50, 0.7);
}

.model_preview_image {
  display:block;
  position:absolute;
  width:128%;
  height:128%;
  position: relative;
  left: -16px;
  bottom: 20px;
  opacity:0;
  z-index:0;
}

.leftnav_placeholder {
    display:none;
    position:absolute;
    z-index:1000;
}

.dropdown-content {
    display: none;
    background-color: black;
    padding-left:10px;
    margin-left:-10px;
}

#header {
    z-index: 1;
    position: relative;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    display: inline-block;
    position: relative;
    bottom: 5px;
    left: 18px;
}

#finish_header {
    cursor: pointer;
}

#countryDropdown {
    display: none;
}

#landing_tutorial {
    background-image: url('res/landing_tut.gif');
    background-size: 237px;
    top: -2px;
}

#color_match {
    background-image: url('res/color_match.gif');
    background-size: 292px;
    background-position-y: -25px;
    left: 5px;
}

#swatch_me {
    background-image: url('res/swatch_me_small.gif');
    background-size: 299px;
    top: -2px;
}


.finish_option {
    display: inline-block;
    position: relative;
    width: 141px;
    height: 15px;
    padding-bottom: 18px;
}

.country_wrapper {
    height: 100%;
    margin: 0 auto;
}

.shop_options {
    position:absolute;
    display:flex;
    width:197px;
    height:100%;
    justify-content:space-between;
}

.shop_sephora_link {
    display:flex;
    position:relative;
    width:106px;
    text-align:right;
    align-items:center;
    justify-content:flex-end;
    cursor:pointer;
}

.langlabel {
    display: inline-block;
    font-size: 13px;
    position: relative;
    bottom: 2px;
    left: 5px;
}

.countrydropbutton {
    height: 100%;
    width: 120%;
    position: relative;
    right: 10px;
    padding-left: 10px;
}


.dropdown {
    background-color: black;
    z-index: 10;
    width: 71px;
    position: relative;
    cursor: default;
}

.country-select {
    cursor: pointer;
}

.country_flag {
    height: 12px;
    width: 18px;
}

#natural_lower {
    top: 70px;
}

#winged_background {
}

#winged_lower {
    top: 70px;
}

/* for faking scrollbar */
.shade_padding {
  display:block;
  position:relative;
  float:left;
  width: 100%;
}


.palette_title {
  width:100%;
  height:53px;
  clear:both;
  border-bottom:8px solid rgb(238, 238, 238);
}

.filter_popup_contents {
  clear:both;
  position: relative;
  float:left;
  display:inline-block;
  width:356px;
}

.filter_bottom_section {
  width:100%;
  height:68px;
  background:#eeeeee;
  float:left;
  margin-top:5px;
}

.filter_header {
  display: flex;
  align-items: center;
  height:45px;
  justify-content: space-between;
  width: 100%;
}

.thin_header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor:pointer;
}

.brand_txt {
  width: 268px;
}

.brand_border_bottom {
  display:block;
  width:100%;
  border-bottom:1px solid rgb(238, 238, 238);
}

.brand_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor:pointer;
  padding-bottom:4px;
}

.finish_content_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: 13.5px;
  cursor:pointer;
  padding-bottom:4px;
}

#filter_eyeshadow_finish {
    margin-top: 15px;
}
.brand_content {
  display:inline-block;
  width: 100%;
  padding-top:13.5px;
  padding-bottom:2px;
}

.formulation_content {
  display:none;
  padding-top:13.5px;
}

.title_wrapper {
  display: inline-block;
  position: relative;
  padding-top: 13.5px;
  padding-bottom: 13.5px;
  width: 100%;
}

.filter_eyeliner_formulation {
  display: inline-flex;
  position: relative;
  padding-top: 12px;
  padding-left: 14px;
  flex-wrap: wrap;
}

.formulation_option {
  display: block;
  position: relative;
  width: 141px;
  height: 15px;
  padding-bottom: 18px;
}

.formulation_option_txt {
  display: block;
  position: relative;
  float: left;
  padding-left: 3px;
  font-size: 12px;
  font-family: SFUIText;
}

.formulation_border_bottom {
  display:block;
  position:relative;
  margin-top:-3px;
  border-bottom:8px solid rgb(238, 238, 238);
}

.color_family_x {
    position:relative;
    float:right;
    width:8px;
    height:8px;
    top:50%;
    transform:translateY(-50%);
}

#remove_makeup_img {
    background-image: url('res/remove_makeup_x.png');
    width: 13px;
    background-size: contain;
    height: 13px;
    background-repeat: no-repeat;
}

#compare_boxes {
    width : 15px;
    height: 15px;
    display: inline-block;
    position: relative;
    border: 1px solid black;
}

.box_corner {
    position: absolute;
    width: 7px;
    height: 7px;;
    float: left;
    background-size: cover;
}

#corner_1 {
    top:0;
    left:0;
}

#corner_2 {
    top: 0;
    right: 0;
}

#corner_3 {
    bottom: 0;
    left: 0;
}

#corner_4 {
    bottom: 0;
    right: 0;
}

#button_wrapper {
    z-index: 3;
    height: 480px; /* To cover the shadow of the eyeliner and eyeshadow placements */
    background-color: white;
    position: relative;
}

.prod_image_wrapper {
    padding-left: 12px;
    padding-right: 15px;
}

.eyeliner_p {
    opacity: 0.95;
    background: #FFFFFF;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,0.06);
    position: absolute;
    width: 68px;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: right 250ms;
    transition: right 250ms;
}

.rightpanel_filter_btn {
  display:flex;
  position:relative;
  float:right;
  height:15px;
  justify-content: space-between;
  align-items: center;
  border-left:1px solid rgb(238, 238, 238);
  padding-left:14.5px;
  cursor:pointer;
}

.rightpanel_filter_img {
  width:17px;
  height:15px;
}

.rightpanel_surprise_btn {
  display:flex;
  position:relative;
  float:right;
  height:15px;
  justify-content: space-between;
  align-items:center;
  padding-right:14.5px;
  cursor:pointer;
}

.rightpanel_surprise_img {
  width:18px;
}

.shade_header_btn_font {
  position:relative;
  text-transform:uppercase;
  font-size:10px;
  height:13px;
  padding-left:8px;
  font-family:SFUIText-Bold;
  color:black;
  letter-spacing:0;
}

.shade_header {
  width:100%;
  padding-bottom:8px;
  float:left;
}

.eyeliner_group {
    position: relative;
    box-sizing: border-box;
    height: 108px;
    font-family: SFUIText-Semibold;
    font-size: 10px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}

.eyeliner_group_border {
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 14px;
    opacity: 0.15;
    border: 1px solid #bbbbbb;
    margin: 0 auto;
}

.eyeliner_group_label {
    position: absolute;
    top: 10px;
    height: 23px;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.eyeliner_img {
    height: 30px;
    width: 67px;
    background-repeat: no-repeat;
    background-size: 78px;
    background-position: center;
    cursor: pointer;
}

.eyeliner_background {
    background-color: rgb(170, 170, 170);
    position: relative;
    opacity: 0.3;
    width: 60%;
    height: 25px;
    margin: 0 auto;
    z-index: -1;
}

.placement_eyeshadow_bg {
    display:block;
    position:relative;
    margin-top:9px;
    width:36px;
    height:18px;
}

.placement_eyeshadow_img {
	display:block;
	position:absolute;
	width:40px;
	height:20px;
}

#placement_eyeliner_natural_only {
    background-image: url("res/placement_eyeliner_natural_on@3x_cropped.png");
    position: absolute;
    background-position: -4px;
    top: 32px;
}

#placement_eyeliner_natural_lower {
    position: absolute;
    top: 67px;
    background-position: -4px;
    background-image: url('res/placement_eyeliner_natural_on_under@3x_cropped.png');
}

#placement_eyeliner_winged_only {
    position: absolute;
    top: 31px;
    background-position: -2px 0px;
    background-image: url('res/placement_eyeliner_winged_on@3x_cropped.png');
}

#placement_eyeliner_winged_lower {
    background-size: 84px;
    background-position: -6px;
    position: absolute;
    top: 66px;
    background-image: url('res/placement_eyeliner_winged_on_under@3x_cropped.png');
}

#placement_eyeliner_smoky_only {
    background-image: url('res/placement_eyeliner_smoky_on@3x_cropped.png');
    position: absolute;
    top: 31px;
}

#placement_eyeliner_smoky_lower {
    background-image: url('res/placement_eyeliner_smoky_on_under@3x_cropped.png');
    position: absolute;
    top: 66px;
}

#smoky_lower {
    top: 70px;
}

.share_icon {
    position:relative;
    height:30px;
    display:inline-block;
    margin:0px 1px;
    cursor:pointer;
}

#t1 {
    font-family: SephoraSerif-Book;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    line-height: 21px;
    padding-bottom: 20px;
    padding-top:10px;
}

#t2 {
    font-family: SFUIText;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    line-height: 18px;
}

.t3 {
    margin-right: 10px;
    width: 120px;
    border-radius: 2px;
    height: 36px;
    text-align: center;
    text-transform: uppercase;
    line-height: 36px;
    cursor: pointer;
    font-family: SFUIText-Bold;
    font-size: 13px;
}

#t4 {
    display: inline-flex;
    justify-content: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 5px;
    vertical-align: middle;
}

.take_photo_title {
    width:100%;
    height:45px;
    clear:both;
    font-size:24px;
    line-height:35px;
    font-family:SephoraSerifJune26-Book;
    margin-top:25px;
}

.take_photo_wrapper {
    position:relative;
    display:block;
    width:264px;
    height:264px;
    margin:20px auto 30px auto;
    border:7px solid white;
    overflow:hidden;
}

.edit_tryon_text {
    width:100%;
    height:24px;
    line-height:30px;
    font-size:24px;
    font-family:SephoraSerifJune26-Book;
    margin-top:12px;
    margin-bottom:34px;
}

#cancel_remove_makeup {
    color: black;
    background: white;
    box-shadow: 0px 0px 12px 1px rgba(225,225,225,1);
}

#confirm_remove_makeup {
    background: linear-gradient(#3c3c3c,#000000);
    color: #ffffff;
}

.close_button {
    float: right;
    background-image: url(res/x.png);
    background-size: 100% 100%;
    cursor: pointer;
    width: 20px;
    height: 18px;
    display: block;
    position: relative;
    font-size: 13px;
    top: -48px;
    left: 40px;
}

.remove_makeup_prompt {
    position: absolute;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.retake_looksgood {
    display: inline-flex;
    justify-content: center;
    /*padding-bottom: 27px;*/
}

.refine_pane {
    display:flex;
    flex-direction:row;
    width:100%;
}

.refine_contents {
    flex-grow:1;
    position:relative;
}

.refine_padding {
    flex-shrink: 0;
    width: 0px;
}

.refine_top_stripe {
    display:flex;
    position:relative;
    align-items: center;
    width:100%;
    height: 54px;
}

.refine_mid_stripe {
    display:flex;
    flex-direction:row;
    align-items:center;
    position:relative;
    width: 100%;
    height: 31px;
    background-color: #E9E9E9;
}

.underline {
   width:120px;
   height:2px;
   background-color:black;
   position:absolute;
   bottom:0px;
}

.refine_opt_header {
   height: 100%;
   display:flex;
   justify-content: center;
   align-items: center;
   flex:1;
   font-size: 10px;
   font-family: SFUIText-Semibold;
   text-transform:uppercase;
   color: rgb(120, 120, 120);
}

.refine_bot_stripe {
    display:block;
    position:relative;
    width:100%;
    height:495px;
    text-align:center;
}

.adjust_container_pane {
  border:5px solid white;
  margin:19px 0px 15px 0px;
  width:264px;
  height:264px;
  overflow:hidden;
  position:relative;
}

.adjust_container_popup {
  border:5px solid white;
  margin:25px 25px 15px 25px;
  width:264px;
  height:264px;
  overflow:hidden;
}

.refine_cta_pane {
  position:absolute;
  display:flex;
  justify-content: space-between;
  text-transform:uppercase;
  height:40px;
  padding-top: 11px;
  -webkit-box-shadow: 0px -7px 9px -6px rgba(212,212,212,1);
  -moz-box-shadow: 0px -7px 9px -6px rgba(212,212,212,1);
  box-shadow: 0px -7px 9px -6px rgba(212,212,212,1);
}

.teeth_btn {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  font-size: 13px;
  font-family: SFUIText;
  display:inline-block;
  vertical-align: middle;
  width:90px;
}

.refine_header_text {
    font-family:SephoraSerifJune26-Book;
    font-size: 20px;
    display:block;
    position:relative;
}

.refine_instruction_text {
   padding-top:15px;
   font-family:SFUIText;
   font-size:13px;
   display:block;
   position:relative;
   text-align:center;
}

.close_refine_button {
    cursor:pointer;
    position:absolute;
    right: 17px;
    height: 20px;
    width: 20px;
}

.y_cen {
    top: 50%;
    transform:translateY(-50%);
}

.x_cen {
    left: 50%;
    transform:translateX(-50%);
}

.cen {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.placement {
    float:left;
    margin-top:11px;
    width:100%;
    display:none;
}

.sub_bar_text {
  display:inline-block;
  line-height:35px;
  float:left;
}

.shade_fill {
	position: relative;
	display: inline-block;
	float: left;
}

.product_container_wrapper {
	position:relative;
	display: block;
}

.mid_section_product_container_placeholder {
  position:relative;
  display:none;
}

.clear_text {
	position:relative;
	float:left;
	top:50%;
	transform:translateY(-50%);
	font-size:10px;
	font-family:SFUIText-Bold;
	padding-right:5px;
}

.lash_pic_natural {
	height: 50px;
	width: 75px;
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	/* margin-top: 4px; */
}

.lash_pic_full {
	height: 50px;
	width: 75px;
    z-index: -1;
	position: relative;
	left: 50%;
	transform:translateX(-50%);
	/* margin-top: 4px; */
}

.lash_pic_dramatic {
	height: 50px;
	width: 85px;
	position: relative;
	left: 50%;
	transform:translateX(-56%);
	/* margin-top: 4px; */
}

.lash_outlined {
    margin: auto;
    width: 100px;
		height: 70px;
    border: 2px solid black;
}

.lash_not_outlined {
    margin: auto;
		width: 100px;
		height: 70px;
		border: 2px solid transparent;
}

#tablet_indicator {
	position:absolute;
  display:none;
}

.cancel_search{
  color:rgb(150, 150, 150);
  font-family:SFUIText;
  display:flex;
  position:relative;
  align-items:center;
  margin-right: 35px;
}

.cancel_search:hover{
  cursor:pointer;
  color:black;
}

.text_shadow{
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 1);
}

.backscreen{
  background:#000000;
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  height:150%;
  opacity: 0.6;
  filter:alpha(opacity=48);
}

.delete_look_txt {
  position: relative;
  vertical-align: middle;
  color: white;
  font-size: 10px;
  font-weight: lighter;
  text-transform: uppercase;
}

.delete_look_btn {
  display:inline-block;
  position: relative;
  width: 36px;
  height: auto;
}

.cta_grad {
  background: linear-gradient(rgb(70, 70, 70), rgb(0, 0, 0));
}


/* this is so that browser default scrollbar doesn't appear */
.compare_H::-webkit-scrollbar {
    -webkit-overflow-scrolling: auto;
    width: 0px;
}


.compare_H::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 15px solid rgba(0,0,0,0);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.23);
    -webkit-box-shadow: 0 0 6px 0px rgba(255,255,255,0.01);
}

.lash_swatch_container::-webkit-scrollbar,
.shade_swatch_container::-webkit-scrollbar {
    width: 13px;
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(204,204,204,1);
    -moz-box-shadow: inset 0px 0px 6px -1px rgba(204,204,204,1);
    box-shadow: inset 0px 0px 6px -1px rgba(204,204,204,1);
}

.brand_container::-webkit-scrollbar {
    -webkit-overflow-scrolling: auto;
    width: 14px;
    background-color: rgb(240, 240, 240);
    -webkit-box-shadow: inset 0px 0px 6px -1px rgba(204,204,204,1);
    -moz-box-shadow: inset 0px 0px 6px -1px rgba(204,204,204,1);
    box-shadow: inset 0px 0px 6px -1px rgba(204,204,204,1);
}

.lash_swatch_container::-webkit-scrollbar-thumb,
.shade_swatch_container::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 6px 0px rgba(255,255,255,0.01);
}

.lash_swatch_container::-webkit-scrollbar-track,
.shade_swatch_container::-webkit-scrollbar-track {
}

.brand_container::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0);
    background-clip: padding-box;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 6px 0px rgba(255,255,255,0.01);
}

.canvascontainer_shadows {
    height: 100%;
    width: 100%;
    z-index:2;
    -webkit-box-shadow: inset 0px 0px 47px -16px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 47px -16px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 47px -16px rgba(0,0,0,0.75);
}

.canvascontainer_shadows_strong {
	height: 100%;
  width: 100%;
  position:absolute;
  z-index:2;
	-webkit-box-shadow: inset 0px 0px 65px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 65px -1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 65px -1px rgba(0,0,0,0.75);
}

.refine_button_shadow {
    -webkit-box-shadow: 0px 0px 6px 0px rgba(215,215,215,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(215,215,215,1);
    box-shadow: 0px 0px 6px 0px rgba(215,215,215,1);
}

.search_shadows {
		-webkit-box-shadow: 0px 2px 14px -4px rgba(201,201,201,1);
		-moz-box-shadow: 0px 2px 14px -4px rgba(201,201,201,1);
		box-shadow: 0px 2px 14px -4px rgba(201,201,201,1);
}

.soft_outline_shadows {
    -webkit-box-shadow: 0px 0px 13px 0px rgba(220,220,220,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(220,220,220,1);
    box-shadow: 0px 0px 13px 0px rgba(220,220,220,1);
}

.hard_outline_shadows {
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.75);
}

.up_caret {
    position:relative;
    width: 0;
    height: 0;
    left: 50%;
    transform:translateX(-50%);
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #01050a transparent;
}

.tooltip {
    pointer-events:none;
    display:none;

    /* Position at cursor position, done from tooltip_mousemove in pto_4.0.php */
    position: fixed;
    z-index: 1;
}

.tooltiptext {
	  display: inline-block;
    font-size: 14px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
}

.model_choice_container {
    display:inline-block;
    overflow:hidden;
    width:292px;
}

.opt_content_wrapper {
  position: relative;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.vertical_line {
  position:relative;
  float:left;
  height:128px;
  width:1px;
  background-color:rgb(238, 238, 238);
}

/********* fix for dynamic javascript styling on iOS *********/
.c1 {
float:left;height:20px;line-height:20px;font-size:13px;font-family:SFUIText-Bold;margin-bottom:6px;}

.c2 {
float:right;margin-top:8px;height:10px;width:10px;cursor:pointer;background-image:url(res/black_x.png);background-size:100% 100%;background-repeat: no-repeat;}

.c3 {
background:#dddddd;}

.c4 {
float:left;margin-top:10px;height:42px;width:42px;opacity:0;}

.c5 {
float:left;margin-left:10px;margin-top:10px;height:42px;font-size:11.5px;line-height:15px;width:48%;text-align:left;}

.c6 {
float:left;clear:both;height:15px;font-size:12px;}

.c7 {
float:left;clear:both;height:15px;overflow:hidden;text-overflow:ellipsis;width:100%;font-family:HelveticaNeue;color:#000000;white-space:nowrap;}

.c8 {
float:left;clear:both;height:15px;overflow:hidden;text-overflow:ellipsis;width:100%;font-family:HelveticaNeue;}

.c9 {
position:relative;float:right;margin-top:30px;width:16px;height:16px;top:2px;}

.c10 {
position:absolute;width:18px;height:18px;cursor:pointer;}

.c11 {
float:right;margin-top:10px;margin-right:12px;width:60px;height:46px;text-align:center;}

.c12 {
float:left;width:110%;height:20px;line-height:22px;font-size:12px;font-family:SFUIText-Bold;letter-spacing:0;}

.c13 {
    float:right;
    border-radius:2px;
    width:54px;
    height:25px;
    /*background:linear-gradient(#ff0000,#cc0000);*/
    text-transform:uppercase;
    line-height:24px;
    color:#FFFFFF;
    cursor:pointer;
    font-size:10px;
    font-family:Helvetica-Bold;
}

.c14 {
margin:1px;position:absolute;height:auto;}

.c15 {
position:absolute;width:28px;height:28px;}

.c16 {
position:absolute;width:100%;height:100%;background:#000000;opacity:0.20;}

.c17 {
position:absolute;width:30px;height:30px;
text-align:center;
line-height:28px;
font-weight:lighter;
font-size:20px;
font-family:SephoraSerifJune26-Book;
color:#ffffff;}

.c18 {
position:absolute;left:0px;top:0px;width:100%;height:100%;}

.c19 {
position:absolute;top:2px;height:2px;width:100%;background:#ffffff;}

.c20 {
position:absolute;bottom:2px;height:2px;width:100%;background:#ffffff;}

.c21 {
position:absolute;left:2px;width:2px;height:100%;background:#ffffff;}

.c22 {
position:absolute;right:2px;width:2px;height:100%;background:#ffffff;}

.c23 {
position:absolute;top:0px;height:2px;width:100%;background:#000000;}

.c24 {
position:absolute;bottom:0px;height:2px;width:100%;background:#000000;}

.c25 {
position:absolute;left:0px;width:2px;height:100%;background:#000000;}

.c26 {
position:absolute;right:0px;width:2px;height:100%;background:#000000;}

.c27 {
position:absolute;left:0px;top:0px;width:28px;height:28px;
background:#000000;
text-align:center;
line-height:28px;
font-size:18px;
font-weight:normal;
font-family:SephoraSerifJune26-Book;
color:#ffffff;

font-style: Italic;
}

.c28 {
position:relative;
display:inline-flex;
justify-content: space-between;
align-items: center;
float:right;
right:4px;
top:4px;
width: 110px;
height:34px;
font-family:SFUIText-Bold;
}

.c29 {
position:absolute;height:auto;}

.c30 {
position:absolute;width:100%;height:100%;background:#000000;opacity:0.50;}

.c31 {
position:absolute;left:50%;margin-left:2px;margin-top:-11px;top:43%;width:3px;height:16%;background:#ffffff;}

.c32 {
position:absolute;left:43%;top:50%;margin-top:-10px;width:16.5%;height:3px;background:#ffffff;}

.c33 {
position:absolute;left:4px;top:60%;width:100%;color:#FFFFFF;text-align:center;font-family:HelveticaNeue-Medium;font-size:14px;-webkit-font-smoothing: antialiased;}

.c34 {
float:left;width:100%;height:12px;font-size:13px;font-family:SFUIText-Bold;padding-bottom:13px;border-bottom:1px solid rgb(238,238,238);}

.c35 {
display:flex;
align-items:center;
width:100%;
height:64px;
font-size:11px;
font-family:HelveticaNeue;
line-height:14px;
padding-bottom:2px;
border-bottom: 0px solid white;
}

.c36 {
float:left;width:56px;height:56px;}

.c37 {
opacity:0;float:left;width:56px;height:auto;}

.c38 {
float:left;width:130px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:16px;}

.c39 {
float:right;
margin-top:2px;
width:60px;
margin-right:5px;
display:inline-block;
text-align:center;
font-family:SFUIText-Bold;
font-size:11px;
}

.c40 {
position:relative;
flex-shrink:0;
width:16px;
height:16px;
margin-top:10px;
margin-left:13px;
cursor:pointer;
display:inline-block;}

.c41 {
    position:relative;
    left:50%;
    transform:translateX(-50%);
    width:50px;
    height:23px;
    background:linear-gradient(#ff0000,#cc0000);
    color:white;
    font-size:10px;
    text-align:center;
    line-height:24px;
    cursor:pointer;
    border-radius:2px;
    font-family:Helvetica-Bold;
    margin-top:6px;
}

.c42 {
float:left;margin-top:7px;width:46px;height:46px;}

.c43 {
float:left;margin-left:9px;max-width:150px;}

.c44 {
float:left;margin-top:2px;clear:both;font-family:HelveticaNeue;font-size:12px;height:17px;white-space:nowrap;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;color:#000000;}

.c45 {
margin-top:2px;
clear:both;
font-family:HelveticaNeue;
font-size:12px;
height:17px;
white-space:nowrap;
overflow-x:hidden;
text-overflow:ellipsis;
}

.c46 {
float:right;margin-right:0px;margin-top:28px;width:18px;height:18px;cursor:pointer;}

.c47 {
float:left;width:18px;height:18px;}

.c48 {
float:right;margin-right:10px;margin-top:5px;width:58px;text-align:center;overflow:visible;}

.c49 {
width:100%;height:23px;line-height:23px;font-size:12px;color:#000000;font-family:SFUIText-Bold;letter-spacing:0;}

.c50 {
    font-family:Helvetica-Bold;
    border-radius:2px;
    width:100%;
    height:25px;
    line-height:26px;
    /*background:linear-gradient(#ff0000,#cc0000);*/
    text-transform:uppercase;
    color:#FFFFFF;
    cursor:pointer;
    font-size:10px;
}

.c51 {
float:left;
height:30px;
margin-left:15px;
}

.cheek_category_0 {
position:relative;
pointer-events:auto;
width:86px;
height:112px;
border:2px solid transparent;
cursor:pointer;

/* to make overlapping borders not any wider than single borders */
margin-left: -2px;
padding-left: 1.5px;
left: 2px;

}

.cheek_category_1 {
position:relative;
pointer-events:auto;
width:86px;
height:112px;
border:2px solid black;
cursor:pointer;
margin-left: -2px;
padding-left: 1.5px;
left: 2px;
}

.cheek_all_categories_image {
  position:absolute;
  display:block;
  top:36px;
  width:336px;
  height:66px;
}

/* for cheek */
.outline_row0_0 {
  display:none;
}

.outline_row0_1 {
  display:none;
}

.outline_row1_0 {
  display:none;
}

.outline_row1_1 {
  display:none;
}

.cheek_img {
  display:none;
}

.cheek_txt {
position:absolute;
top:10px;
font-size: 12px;
font-family: SFUIText;
width: 85px;
text-align: center;
left:50%;
transform:translateX(-50%);
}

.c52 {
float:left;
font-family:HelveticaNeue;
line-height:12px;
top:50%;
transform:translateY(-50%);
position:relative;
}

.c53 {
width:100%;
margin-top:6px;
text-align:center;
position: relative;
}

.c54 {
position:relative;
float:left;
margin-top:5px;
width:100%;
height:15%;
text-align:center;
font-family:Helvetica;
font-size:12px;
z-index:2;
}

.c55 {
float:left;width:100%;text-align:center;height:14px;line-height:20px;}

.c56 {
float:left;
opacity:0;
width:100%;
height:auto;
margin-top:50%;
transform:translate(0, -50%);
border-radius:50px;
}

.c57 {
float:left;width:100%;text-align:center;height:11px;line-height:11px;}

.c58 {
float:left;width:33px;height:auto;}

.ccheek {
width:115%;
height:auto;
}

/* for the inner border of white */
.swatch_inner {
border-radius:16px;
width:33px;
height:33px;
height:auto;
}

.swatch_inner_on {
border-radius:16px;
width:29px;
height:29px;
border:2px solid white;
}

.c59 {
	width: 44px;
	height: 44px;
	background-size: 90% auto;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}

.c60 {
  float:left;
  width:46px;
  height:46px;
  border:2px solid transparent;
  box-sizing:border-box;
}

.c60_on {
  float:left;
  width:46px;
  height:46px;
  border:2px solid white;
  box-sizing:border-box;
}

.c61 {
float:left;border-radius:100px;margin-left:2px;margin-top:2px;width:36px;height:36px;}

.c64 {
float:left;
width:100%;
height:16px;
background:#eeeeee;
}

.c65 {
float:left;
font-size:10px;
font-family:HelveticaNeue;
margin-left:10px;
line-height:16px;
color:#aaaaaa;
}

.c66 {
display:flex;
align-items:center;
width:100%;
height:30px;
background:#fcfcfc;
}

.c67 {
font-size:12px;
font-family:HelveticaNeue;
}

.favIconBorder26 {
left:2px;
width:22px;
height:22px;
top:2px;
margin-left:-1px;
border:3px solid white;
margin-top:-1px;
box-sizing:border-box;
}

.favIconBorder29 {
left:2px;
width:27px;
height:27px;
top:2px;
margin-left:-1px;
border:2px solid white;
margin-top:-1px;
}

.camview_container {
  	position:relative;
  	width:480px;
  	height:480px;
  	overflow:hidden;
	margin:0;
}

.camview_pto{
  position:absolute;
  left:-162px;
  top:-120px;
  width:600px;
  height:300px;
  margin:auto auto;
  z-index:10;
}

.horizontal_flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  filter: fliph;
}

.current_product_brand {
  font-family:SFUIText-Bold;
  font-size:11.5px;
  float:left;
  margin-top:2px;
  clear:both;
  height:15px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:100%;
}

.selected_product_brand {
  font-family:SFUIText-Bold;
  font-size:12px;
  float:left;
  margin-top:8px;
  clear:both;
  height:15px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  width:100%;
}

.footer_flag_img {
  width:18px;
  height:auto;
  margin-top:-3px;
  margin-right:2px;
  margin-left:2px;
  vertical-align:middle;
  text-decoration:none;
}

.footer_flag_on {
  opacity:1;
  color:#000;
  font-weight:bold;
  text-decoration:underline;
}

.footer_flag_off {
  opacity:0.4;
  color:#666;
}

.flex_child_top {
  display:flex;
  position:relative;
  z-index:1;
}

.flex_child_bot {
position:relative;
min-height: 150px;
}

#flex_child_bot::after {
content: "";
display: table;
clear: both;
}

.flex_child_top_compare {
position:relative;
display:flex;
}

.flex_child_bot_compare {
position:absolute;
width:1140px;
height:700px;
transform:translate(50%,0);
right:50%;
}

#flex_child_bot_compare::after {
content: "";
display: table;
clear: both;
}

.s_e {
width:100%;
height:77px;
position:relative;
flex-shrink:0;
display:flex;
text-align:center;
}

.s_e_cta_wrapper {
  flex-grow:1;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.email_pto {
background:linear-gradient(#3c3c3c,#000000);
height:40px;
width:160px;
margin-left:20px;
margin-top:15px;
color:#ffffff;
text-align:center;
line-height:45px;
font-family:SFUIText;
font-size:12px;
border-radius:4px;
display:inline-block;
}

.share_pto {
background:linear-gradient(#3c3c3c,#000000);
height:40px;
width:160px;
float:right;
margin-right:20px;
margin-top:15px;
color:#ffffff;
text-align:center;
line-height:45px;
font-family:SFUIText;
font-size:12px;
border-radius:4px;
display:inline-block;
}

.shade_remove_lash {
width:100%;
height:100%;
opacity:0;
color:white;
position:absolute;
top: 0px;
right: 0px;
background-image:url(res/x.png);
background-size:100%;
color:#000;
text-align:center;
cursor:pointer;
}

.shade_remove {
width:100%;
height:100%;
opacity:0;
color:white;
position:absolute;
top:0px;
right:0px;
background-image:url(res/x.png);
background-size:100%;
text-align:center;
cursor:pointer;
}

.livecontainer_scale {
}

.open_palette {
height:135px;
}

.compare_right_panel_contents {
  display:inline-flex;
  flex-direction:column;
  flex-grow:1;
  min-width:0px;
}

.compare_right_panel_padding {
  flex-shrink:0;
  background-color: rgb(251, 251, 251);
}

.compare_product_container {
  width:100%;
  margin-bottom: 22px;
}

.compare_right_panel {
	background-color:#fbfbfb;
	width:420px;
	position:relative;
	display:flex;
	flex-grow:0;
	flex-shrink:0;
}

.compare_products_container {
  display:flex;
  flex-direction:column;
	background-color:white;
	position:relative;
	text-align:left;
  flex-grow:1;
}

.email_share_bar {
position:absolute;
left:50%;
top:710px;
transform:translate(-69.3%,0px);
width:645px;
height:40px;
background:rgba(0,0,0,0.7);
font-size:16px;
font-family:SFUIText;
line-height:40px;
}

.share_compare {
height:100%;
width:100px;
margin-left:30px;
color:#ffffff;
display:inline-block;
cursor:pointer;
}

.email_compare {
height:100%;
width:120px;
margin-left:380px;
color:#FFFFFF;
display:inline-block;
cursor:pointer;
}

.compare_looks {
color:white;
font-family:SephoraSerifJune26-Book;
font-size:18px;
position:absolute;
left:365px;
top:-30px;
width:200px;
height:50px;
}

.photo_quad_container {
display:inline-block;
position:relative;
overflow:hidden;
flex-grow:0;
flex-shrink:0;
}

.product_used_swatch {
font-style:normal;
float:left;
margin:0px 0px 15px 0px;
width:293px;
height:84px;
}

.title_bar {
		margin-top:14px;
    position:relative;
    display:inline-flex;
    width:100%;
    align-items:center;
    justify-content:space-between;
}

.wearing_container {
display:flex;
flex-wrap:wrap;
justify-content: space-between;
position:relative;
margin-top:15px;
}

.wearing_section {
width:100%;
display:block;
text-align:center;
font-size:25px;
font-family:SephoraSerifJune26-Book;
}

.current_product_container {
position: relative;
display:flex;
align-items:center;
width:100%;
height:62px;
float:left;
padding:14px 0px 0px 0px;
border-top:1px solid #cccccc;
}

.blank_btn {
z-index:-1;
width:100%;
height:52px;
position:relative;
top:0px;
background:#eeeeee;
}

.left_btn_blank {
position:absolute;
height:265px;
width:180px;
left:-65px;
transform:unset;
}

.leftbtn_text {
    display:inline-block;
    height: 53px;
    float: right;
    position: relative;
    opacity: 0.75;
    font-family: SFUIText;
    font-size: 12px;
    color: #000000;
    letter-spacing: 0;
    border-top: 1px solid rgb(221, 221, 221);
}

.leftbtn_text > div {
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.leftpanelcontainer_pto {
		display:inline-block;
    position: relative;
    height:460px;
    color:#777777;
		flex-shrink:0;
}

.left_btn_pto {
    width:100%;
    height:54px;
    position:relative;
    background-color: rgba(238,238,238,0.50);
    cursor: pointer;
}

.fullpage {
position:relative;
min-height:100%;
left:0px;
top:0px;
height:100%;
width:100%;
min-width: 769px;
}

.model_choice_popup {
	display:inline-block;
	width:420px;
	background:white;
	border-radius:5px;
}

.shade_swatch_container {
  position:relative;
  padding:2px 0px 0px 0px;
  float:left;
  margin:7px 0px 15px 0px;
  width:100%;
  height:140px;
  overflow-y:auto;
  overflow-x:hidden;
}

.shade_swatch_container_noscroll {
  position:relative;
  padding:2px 0px 0px 0px;
  float:left;
  margin:7px 0px 15px 0px;
  width:100%;
  height:140px;
  overflow:visible;
}

.lash_swatch_container {
  position:relative;
  padding:2px 0px 0px 0px;
  float:left;
  margin:7px 0px 15px 0px;
  width:100%;
  height:140px;
  overflow-y:auto;
  overflow-x:hidden;
  border-top: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
}

.family_swatch_container {
display:flex;
position:relative;
justify-content:space-between;
align-items:center;
font-family:Helvetica;
font-size:9px;
color:rgba(0,0,0,0.87);
max-height:none;
overflow-y:visible;
float:left;
margin:17px 0px 40px 0px;
width:98%;
}

.category_right_panels {
		position:relative;
		display:inline-block;
    min-width: 0px;
    flex-grow:1;
}

.rightpanelcontainer {
position:relative;
z-index:3;
width:470px;
height:700px;
flex-shrink:0;
}

.lips_family_swatch {
position:absolute;
border-radius:100px;
margin-top:4px;
width:44px;
height:44px;
cursor:pointer;
border:2px solid white;
}

.lips_family_swatch_selected {
		position:absolute;
    border-radius:100px;
    margin-top:4px;
    width:44px;
    height:44px;
    cursor:pointer;
    border:2px solid black;
}


.family_swatch {
    position:absolute;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:66px;
    border:2px solid transparent;
    margin-top:2px;
    width:33px;
    height:33px;
    cursor:pointer;
}

.family_swatch_selected {
    position:absolute;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:66px;
    border:2px solid black;
    margin-top:2px;
    width:33px;
    height:33px;
    cursor:pointer;
}

.edit_live_container_inner {
position:absolute;
left:50%;
top:50%;
width:100%;
height:100%;
transform:translate(-50%,-50%);
z-index:50;
}


iframe{
border:none;
left:50%;
transform:translate(-50%, 0px);
position:relative;
}


.content_section {
position:absolute;
top:0px;
/*
left:50%; 
transform:translate(-50%,0px);
*/
width:100%;
height:782px;
}

.left_menu {
}

input:focus {
outline:none;
}

hr {
border:0px;
height:1px;
color:black;
background-color:black;
float:left;
margin-top:0px;
margin-bottom:6px;
width:100%;
clear:both;
}

.right_panel_header {
font-family:SFUIText;
font-size:14px;
color:rgba(0,0,0,0.87);
float:left;
height:16px;
clear:both;
line-height:16px;
}

.il_photo_header {
position:relative;
width:100%;
height:59px;
background:#ffffff;
z-index:1;
font-family:SFUIText;
line-height:59px;
text-align:center;
flex-shrink:0;
flex-grow:0;
}

.il_panel_header {
font-family:SephoraSerifJune26;
font-size:20px;
color:rgba(0,0,0,0.87);
height:22px;
padding: 17px 0px;
background:#ffffff;
width:100%;
display:flex;
align-items:center;
justify-content:space-between;
}

.compare_header_hr {
    display:inline-block;
    height:1px;
    flex-grow:1;
    background:#222222;
}

.sub_bar {
    bottom:0px;
    height:35px;
    width:100%;
    background:rgba(0,0,10,0.8);
    position:absolute;
    z-index:5;
    font-family:HelveticaNeue;
    font-size:17px;
}

.eyeshadow_p {
    flex-direction: column;
    position:absolute;
    display: inline-flex;
    height: 100%;
    width: 68px;
    opacity: 0.95;
    background: #FFFFFF;
    box-shadow: 2px 0 2px 0 rgba(0,0,0,0.06);
    right: 0;
    top: 0;
    z-index: 2;
    -webkit-transition: right 250ms;
    transition: right 250ms;
}

.placement_on {
    opacity: 1;
    position: relative;
    float:left;
    left:0px;
    width:68px;
    height:54px;
    cursor:pointer;
    line-height:12px;
    font-size:10px;
    letter-spacing: -0.2px;
    font-family:SFUIText;
    font-weight:bold;
    color: #000000;
    background-position: -25px -25px;
}

.placement_on_outer_corner {

}

.placement_off {
    opacity: 0.3;
    position: relative;
    float:left;
    left:0px;
    width:68px;
    height:54px;
    cursor:pointer;
    line-height:12px;
    font-size:10px;
    letter-spacing: 0;
    font-family:SFUIText;
    color: #7f7f7f;
}

.style_on {
    position:absolute;
    cursor:pointer;
    display:inline-block;
}

.style_off {
    position:absolute;
    cursor:pointer;
    display:inline-block;
}

.left_panel_button {
    text-transform:uppercase;
    margin-left:2px;
    height:14px;
    cursor:pointer;
    display:inline-block;
    position:relative;
    float:right;
}

.palette_on {
    position:absolute;
    margin-left:0px;
    margin-top:0px;
    width:40px;
    height:40px;
    cursor:pointer;
    border:2px solid #000000;
    border-radius:100px;
}

.palette_off {
    position:absolute;
    margin-left:0px;
    margin-top:0px;
    width:40px;
    height:40px;
    cursor:pointer;
    border:2px solid transparent;
    border-radius:100px;
}

.one-pixel-border {
    box-shadow: -1px 0 0 #818181;
}

.half-pixel-border {
    box-shadow: -.5px 0 0 #818181;
}

.quarter-pixel-border {
    box-shadow: -.25px 0 0 #818181;
}

.shade_on {
position:relative;
float:left;
cursor:pointer;
border:1px solid black;
margin:0.5px;
box-sizing:border-box;
}

.shade_off {
position:relative;
float:left;
cursor:pointer;
margin: 1.5px;
box-sizing:border-box;
}

.filter_favorite {
  position: relative;
  margin-left: 6px;
  width:13px;
  height:13px;
}

.filter_title {
  clear:both;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:100%;
  height:45px;
}

.filter_title_category {
  position: relative;
  clear:both;
  display:flex;
  align-items:center;
  width:100%;
  height:45px;
}

.filter_title_text {
display:flex;
align-items: center;
margin-right:17px;
font-size:15px;
font-family:SFUIText;
}

.large_checkmark_0 {
width:16px;
height:16px;
background-image:url(res/check_0.png);
background-size:contain;
background-repeat: no-repeat;
cursor:pointer;
}

.large_checkmark_1 {
width:16px;
height:16px;
background-repeat: no-repeat;
background-image:url(res/check_1.png);
background-size:contain;
cursor:pointer;
}

.small_checkmark_0 {
float:left;
width:16px;
height:16px;
margin:0px 5px 0px 10px;
background-image:url(res/check_0.png);
background-size:contain;
cursor:pointer;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.small_checkmark_1 {
float:left;
width:16px;
height:16px;
margin:0px 5px 0px 10px;
background-image:url(res/check_1.png);
background-size:cover;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.small_checkmarkbrand_0 {
float:left;
width:14px;
height:14px;
margin:0px 5px 0px 0px;
background-image:url(res/check_0.png);
background-size:contain;
background-repeat:no-repeat;
cursor:pointer;
position: relative;
}

.small_checkmarkbrand_1 {
float:left;
width:14px;
height:14px;
margin:0px 5px 0px 0px;
background-image:url(res/check_1.png);
background-size:cover;
background-repeat: no-repeat;
position: relative;
}

.filter_popup_modal {
  display:inline-block;
  position:relative;
  float:right;
  clear:both;
  width:420px;
  background:#FFFFFF;
  border-radius:4px;
}

.filter_content {
clear:both;
width:360px;
background:#ffffff;
}

.brand_container {
float:left;
clear:both;
width: 100%;
height:277px;
overflow-y:scroll;
overflow-x:hidden;
padding:0px 0px 2px 0px;
margin-top:2px;
}

.brand_container::-webkit-scrollbar {
    width: 11px;
}

.brand_container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.filter_top_stripe {
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:relative;
  height:66px;
  width:100%;
}

.filter_title_divider {
  position:relative;
  width:420px;
  clear:both;
  margin-top:10px 0px;
  height:2px;
  color:#eeeeee;
  background:#eeeeee;
}

.brand_display {
  position:relative;
  padding-top:8px;
  width:100%;
}

.category_display {
  position:relative;
  width:100%;
  margin-top:2px;
}

.sing_brand {
  display:inline-block;
  margin-right:4px;
  font-family:SFUIText;
  font-size:12px;
  color:#cecece;
}

.filter_content_title {
margin-left:0px;
font-size:14px;
font-family:SFUIText;
}

.filter_arrow {
margin-right:1px;
cursor:pointer;
width:17px;
height:10px;
background-image:url(res/filter_arrow.png);
background-size:cover;
}

.colorIQinput {
width:32px;
height:37px;
display:inline-block;
text-align:center;
font-family:Avalon;
font-size:25px;
font-weight:500;
text-transform: uppercase;
vertical-align:middle;
border:1px solid #DDDDDD;
padding:2px;
}

.cheek_row {
  display:inline-flex;
  flex-direction:row;
  border-top: 1px solid rgb(238, 238, 238);
}

.filter_popup {
float:left;
width:555px;
height:auto;
background:#FFFFFF;
}

.filter_popup_title {
display:flex;
position:relative;
align-items:center;
justify-content:space-between;
width:69px;
height:20px;
font-size:12px;
font-family:SFUIText-Bold;
}

.filter_cheek_category {
  display:flex;
  position: relative;
  flex-direction:row;
  clear:both;
  margin-top:5px;
  width:100%;
  height:116px;
}


.cheek_cross_image {
  display:none;
}

.cheek_image {
  display:none;
}

.filter_popup_result_txt {
width:110px;
font-size:15px;
font-family:SFUIText;
text-align:center;
}

.filter_popup_clearall_x {
cursor:pointer;
text-align:center;
display:block;
font-size:10px;
font-family:SFUIText-Bold;
text-transform:uppercase;
white-space:nowrap;
}

.filter_popup_palettes {
float:left;
width:100%;
height:140px;
clear:both;
}

.filter_popup_centered_text {
float:left;
width:100%;
height:36px;
line-height:36px;
font-size:12px;
text-align:center;
}

.photocontainer {
  position:absolute;
  left:50%;
  width:100%;
  height:100%;
  transform:translate(-50%,0px);
  overflow:hidden;
}

.canvascontainer_pto {
  display:block;
  position: absolute;
	height:100%;
	width:100%;
  overflow: hidden;
}

.edit_img_pto {
width:22px;
height:18px;
margin-top:9px;
margin-right:8px;
float:left;
display:inline-block;
background:url(res/retake.png);
background-size:cover;
}

.refine_img_pto {
width:20px;
height:20px;
margin-top:8px;
margin-right:8px;
float:left;
display:inline-block;
background:url(res/icon_refine.png);
background-size:cover;
}

.pto_button {
    width:112px;
    height:35px;
    display:inline-block;
    float:right;
    position:relative;
    font-family:SFUIText;
    font-size:11px;
    color:#ffffff;
    cursor:pointer;
    text-transform:uppercase;
}

#share_btn_caret {
    height: 10px;
    margin: 12px 7px;
}

.horizontal_center {
    display: table;
    position: relative;
    margin: 0 auto;
}

.refine_button {
width:20%;
height:38px;
border:1px solid black;
line-height:42px;
font-size:14px;
font-family:HelveticaNeue;
font-weight:600;
cursor:pointer;
text-transform:uppercase;
margin:0px 10px;
display:inline-block;
}

.adjustPt {
position:absolute;
left:0px;
top:0px;
width:6.2px;
height:6.2px;
background:#ffffff;
border-radius:50%;
border:2.7px solid #000000;
cursor:pointer;
}

.compare_photo_div {
position:relative;
float:left;
margin-left:2px;
margin-top:2px;
overflow:hidden;
cursor:pointer;
}

.compare_photo_unselected {
position:relative;
float:left;
width:100%;
height:100%;
opacity:0.01;
overflow:hidden;
cursor:pointer;
}

.compare_photo_selected {
position:relative;
float:left;
width:100%;
height:100%;
opacity:1;
overflow:hidden;
cursor:pointer;
}

.horizontal_border {
position:absolute;
left:0px;
width:100%;
height:1px;
}


.popup_shadow_webcam {
    position:absolute;
    text-align:center;
    top:100px;
    left:calc(50% - 210px);
}

.popup_shadow {
    position:absolute;
    text-align:center;
    left:50%;
    transform:translate(-50%,0%);
}

.popup_content {
    width:330px;
    position:relative;
    clear:both;
    background:#ffffff;
    padding:20px 45px 35px 45px;
    display:block;
    vertical-align:top;
    border-radius:5px;
}

.popup_content_webcam {
  width:330px;
  height:467px;
  position:relative;
  margin:auto auto;
  background:#ffffff;
  padding:2px 35px 25px 35px;
  display:block;
  vertical-align:top;
  clear:both;
  border-radius:5px;
}

.popup_width {
position:absolute;
left:50%;
margin-left:-402px;
margin-top:60px;
width:804px;
height:auto;
}

.filter_close_button {
background-image:url(res/x.png);
background-size:100% 100%;
cursor:pointer;
width:20px;
height:20px;
display:block;
margin-bottom:15px;
float:right;
}

.close_popup_button {
    position: relative;
    float: right;
    background-image:url(res/x.png);
    background-size:100% 100%;
    cursor:pointer;
    width:20px;
    height:20px;
    display:block;
    margin-bottom: 10px;
}

.share_close_popup_button {
    position:relative;
    float:right;
    background-image:url(res/x.png);
    background-size:100% 100%;
    cursor:pointer;
    width:20px;
    height:20px;
    display:block;
    margin-bottom: 15px;
}

.live_opt_text {
  position:absolute;
  text-transform:uppercase;
  color:white;
  top:80%;
  width:100%;
  height:20%;
  font-size:10px;
  z-index:111111111;
}

.model_opt_text {
  position:absolute;
  text-transform:uppercase;
  color:white;
  width:100%;
  margin-top:80%;
  height:20%;
  font-size:10px;
}

.edit_block {
    font-family:SFUIText-Bold;
    position:relative;
    width:125px;
    height:125px;
    float:left;
    margin: 1px;
    border:2px solid white;
    overflow:hidden;
    cursor:pointer;
    display:inline-block;
}

.err_block {
width:90px;
height:90px;
overflow:hidden;
cursor:pointer;
display:inline-block;
margin-bottom:20px;
}

.model_div {
position:relative;
float:left;
width:127px;
left: 9px;
height:127px;
box-shadow:0px 0px 2px 2px #eeeeee;
overflow:hidden;
cursor:pointer;
//border: 2px hidden white;
//padding:2px;
margin:5px;
display:inline-block;
}

.model_off {
    position:absolute;
    left:0px;
    top:0px;
    width:135px;
    height:135px;
    overflow:hidden;
    cursor:pointer;
}


.model_hover {
    left:0px;
    top:0px;
    position:absolute;
    width:123px;
    height:123px;
    overflow:hidden;
    cursor:pointer;
    border:2px solid black;
}

.camera_content {
margin-left:34.7%;
}

.fontsize1 {
font-size:22px;
}

.fontsize2 {
font-size:18px;
text-align:center;
}


.wearing_hr {
flex-grow:1;
display:inline-block;
height:1.0px;
background:black;
}

.search_placeholder {
position:relative;
flex-grow:1;
margin-left:12px;
height:54px;
font-size:14px;
font-family:SFUIText;
color:#000000;
letter-spacing:0;
display:none;
border:5px solid #ffffff;
}

.current_font {
text-transform:uppercase;
float:left;
margin-left:4px;
line-height:20px;
font-size:10px;
font-family:SFUIText-Bold;
color:#000000;
letter-spacing:0;
}

.search_icon {
margin-left:25px;
position:relative;
height:30px;
width:34px;
display:inline-block;
float:left;
margin-top:15px;
}

.eyeshadow_pb {
z-index:-1;
height:240px;
position:relative;
display:none;
padding-left:0px;
background:#ffffff;
}


.pto_header {
color:#ffffff;
z-index:1;
font-family:SephoraSerifJune26-Book;
position:absolute;
height:30px;
font-weight: lighter;
font-size: 18px;
line-height: 32px;
}

.cmp_photo_container {
position:relative;
display:inline-flex;
flex-direction:column;
flex-grow:1;
}

.compare_H {
    flex-grow:1;
    width:100%;
    padding-top:16px;
}

.fullpage_w {
width:1300px;
position: relative;
box-shadow: 500px 0px 0px 0px rgba(251,251,251,1), -500px 0px 0px 0px rgba(251,251,251,1);
margin-left:50%;
transform:translate(-50%,0);
}

.upload_p {
left:186px;
top:98px;
width:160px;
height:40px;
cursor:pointer;
}

.share_il {
    float:none;
    margin-right:0%;
}

@media only screen and (max-width: 1169px){

.refine_cta_pane {
    -webkit-box-shadow: 0px 0px 0px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 0px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 0px 0px rgba(77,77,77,1);
}


.category_right_panels {
}

.left_btn_pto {
    top: 0px;
}

.fullpage_w {
box-shadow: none;
}



.upload_p {
left:90px;
width:195px;
}

.fullpage_w {
    width:798px;
    margin-left:50%;
    transform:translate(-50%,0);
}

.c54 {
margin-top:11%;
}

.c53 {
}

.s_e {
}

.email_pto {
width:94px;
}

.share_pto {
    margin-right:35px;
    width:120px;
}

.cmp_photo_container {

}

.share_close_popup_button {
background-image:url(res/x.png);
background-size:100% 100%;
cursor:pointer;
width:20px;
height:20px;
display:block;
}

.search_icon {
margin-left:10px;
height:27px;
width:30px;
display:inline-block;
float:left;
margin-top:17px;
}

.c43 {
float:left;margin-left:9px;max-width:95px;}

.c39 {
    float:right;
    margin-top: 2px;
    width: 55px;
    margin-right: 0px;
    display: inline-block;
    text-align: center;
    font-family: SFUIText;
    font-size: 12px;
}

.c46 {
margin-right:0px;
}

.search_placeholder {
-webkit-appearance:none;
}

.right_panel_header {
font-size:13px;
}

.current_font {
text-transform:uppercase;
float:left;
margin-left:4px;
line-height:20px;
font-size:8px;
font-family:SFUIText;
color:#000000;
letter-spacing:0;
}

.il_panel_header {
    font-family: SephoraSerifJune26-Book;
    font-size: 18px;
    justify-content: center;
}

.cancel_search{
  margin-right: 40px;
}

/* resized dynamically */
.pto_photo_button {
width:90px;
height:35px;
display:inline-block;
position:absolute;
font-family:SFUIText;
font-size:11px;
color:#ffffff;
}

.refine_img_pto {
width:19px;
height:19px;
margin-top:8px;
margin-right:5px;
float:left;
display:inline-block;
background:url(res/icon_refine.png);
background-size:cover;
}

.edit_img_pto {
width:20px;
height:17px;
margin-top:9px;
margin-right:5px;
float:left;
display:inline-block;
background:url(res/retake.png);
background-size:cover;
}

/* resized dynamically */
.pto_share_button {
width:80px;
height:35px;
display:inline-block;
position:absolute;
font-family:SFUIText;
font-size:11px;
color:#ffffff;
cursor:pointer;
}

/* resized dynamically */
.pto_refine_button {
width:80px;
height:35px;
display:inline-block;
position:absolute;
font-family:SFUIText;
font-size:11px;
color:#ffffff;
text-transform:uppercase;
}

.refine_button {
width:24%;
height:38px;
border:1px solid black;
line-height:42px;
font-size:14px;
font-family:HelveticaNeue;
font-weight:500;
cursor:pointer;
text-transform:uppercase;
margin:0px 10px;
display:inline-block;
}

.fontsize1 {
font-size:24px;
}

.fontsize2 {
font-size:14px;
text-align:center;
}

.camera_content {
margin-left:32.5%;
}

.wearing_hr {
}

.wearing_section {
    font-size: 22px;
}

.flex_child_top {
position:relative;
z-index:1;
}

.flex_child_top_compare {
}

.flex_child_bot {
position:relative;
min-height: 200px;
}

.flex_child_bot_compare {
position:relative;
width:unset;
height:unset;
}

#flex_child_bot_compare::after {
content: "";
display: table;
clear: both;
}

.livecontainer_scale {
transform:scale(1.2, 1.2);
}

.popup_content_webcam {
    width:330px;
    position:relative;
    margin:0px auto;
    background:#ffffff;
    padding:20px 40px 30px 40px;
    display:block;
    vertical-align:top;
    clear:both;
    border-radius:5px;
}

.popup_content {
width:330px;
position:relative;
clear:both;
border-radius: 5px;
background:#ffffff;
padding:20px 45px 45px 45px;
display:block;
vertical-align:top;
}

.open_palette {
height:135px;
}

.compare_product_container {
}

.compare_products_container {
}

.email_share_bar {
    position: absolute;
    left: 47%;
    top: 442px;
    transform: translate(-69%,0px);
    width: 385px;
    height: 36px;
    background: rgba(0,0,0,0.7);
    font-size: 16px;
    font-family: SFUIText;
    line-height: 40px;
}

.email_compare {
    height: 100%;
    width: 120px;
    margin-left: 120px;
    color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
}

/*.photo_quad_container {
position:relative;
overflow:hidden;
box-shadow:unset;
}*/

.il_photo_header {
}

.compare_looks {
    color: #ffffff;
    font-family: SephoraSerifJune26-Book;
    font-size: 18px;
    position: absolute;
    left: 220px;
    top: -30px;
    width: 160px;
    height: 50px;
}

.style_on {
cursor:pointer;
font-size:12px;
}

.style_off {
cursor:pointer;
font-size:12px;
font-weight:200;
}

.lash_pic_natural {
	height: 29px;
	width: 55px;
	position: relative;
	left: 50%;
	margin-top: 5px;
	transform:translateX(-50%);
}

.lash_pic_full {
	height: 29px;
	width: 55px;
	position: relative;
	left: 50%;
	margin-top: 5px;
	transform:translateX(-50%);
}

.lash_pic_dramatic {
	height: 29px;
	width: 55px;
	position: relative;
	left: 50%;
	margin-top: 5px;
	transform:translateX(-50%);
}

.lash_outlined {
    width: 65px;
		height: 55px;
}

.lash_not_outlined {
		width: 65px;
		height: 55px;
}

.product_used_swatch {
font-style:normal;
float:left;
margin:0px 0px 20px 0px;
width:385px;
height:84px;
}

.wearing_container {
justify-content: center;
}

.eyeshadow_p {
}

.placement_on {
cursor:pointer;
line-height:11px;
font-size:11px;
font-weight:500;
color: #000000;
*/
}

.placement_off {
cursor:pointer;
line-height:11px;
font-size:11px;
font-weight:medium;
color: #7f7f7f;
*/
}

.eyeshadow_pb {
height:224px;
}

.menu_off {
float:left;
width:32%;
height:26px;
margin-top:3px;
margin-right:1px;
background:#000000;
text-align:center;
line-height:27px;
color:#FFFFFF;
font-size:11px;
font-family:HelveticaNeue;
letter-spacing:0;
color:#FFFFFF;
cursor:pointer;
}

.menu_on {
float:left;
width:33%;
height:28px;
margin-top:0px;
margin-right:1px;
background:#FFFFFF;
text-align:center;
line-height:30px;
border-left:1px solid black;
border-top:1px solid black;
border-right:1px solid black;
font-size:11px;
font-family:HelveticaNeue-Medium;
font-weight:600;
color:#000000;
letter-spacing:0;
cursor:pointer;
}

.left_btn_blank {
    position: absolute;
    height: 265px;
    width: 2000px;
    left: 50%;
    transform: translate(-115%,0);
}

.leftbtn_text {
    height: 98%;
    border-top: 0.5px solid #cccccc;
    font-size: 12px; /* this property is overriden dynamically depending on language */
}

.canvascontainer_pto {
}

.photocontainer {
position:absolute;
left:50%;
top:0px;
width:100%;
height:100%;
transform:translate(-50%,0px);
overflow:hidden;
}

.sub_bar {
    font-size: 17px;
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.fullpage {
}

.shade_swatch_container {
    padding: 2px 0px 0px 0px;
    float: left;
    margin: 7px 0px 15px 0px;
    height: 140px;
}

.rightpanelcontainer {
width:286px;
height:534px;
}

.content_section {
}

.left_menu {
}


.share_il {
    float:none;
}

}

@media only screen and (max-width:770px) {

.lash_swatch_container {
  position:relative;
  padding:2px 0px 0px 0px;
  float:left;
  margin:7px 0px 15px 0px;
  width:100%;
  height:140px;
  overflow-y:auto;
  overflow-x:hidden;
  border:none;
}

#tablet_indicator {
  position:absolute;
  display:block;
}

.cheek_row {
  display:inline-flex;
  flex-direction:row;
  border-top:none;
}

.cheek_all_categories_image {
  display:none;
}

/* for cheek */
.outline_row0_0 {
  display:block;
  position:absolute;
  width: 175px;
  height: 125px;
  top: -12px;
  border:2px solid transparent;
  z-index:3;
}

.outline_row0_1 {
  display:block;
  position:absolute;
  width: 175px;
  height: 125px;
  top: -12px;
  border:2px solid black;
  z-index:3;
}

.outline_row1_0 {
  display:block;
  position:absolute;
  width: 175px;
  height: 120px;
  top: -14px;
  border:2px solid transparent;
  z-index:3;
}

.outline_row1_1 {
  display:block;
  position:absolute;
  width: 175px;
  height: 120px;
  top: -14px;
  border:2px solid black;
  z-index:3;
}

.cheek_category_0 {
position:relative;
pointer-events:auto;
width:189px;
height:106px;
border: none;
cursor:pointer;
}

.cheek_category_1 {
position:relative;
pointer-events:auto;
width:189px;
height:106px;
border: none;
cursor:pointer;
}

.cheek_img {
  display:block;
  position:absolute;
  height:100%;
  width:100%;
}

.cheek_txt {
top:0px;
}

.cheek_cross_image {
  display:block;
  position: absolute;
  pointer-events:none;
  z-index:1;
  top:15px;
  width:100%;
  height:218px;
}

.filter_cheek_category {
  display:flex;
  position: relative;
  flex-direction:column;
  justify-content: space-between;
  clear:both;
  margin-top:18px;
  width:100%;
  height:238px;
}

.family_swatch_container {
    margin: 10px 0px 0px 0px;
}

.product_container_wrapper {
    display: none;
}

.compare_H {
	padding-top:6px;
}

.c35 {
  border-bottom:1px solid rgb(238,238,238);
}

.compare_header_hr {
  display:none;
}

#tablet_indicator {
  display:block;
}

.livecontainer_scale {
  transform:scale(1, 1);
}


.content_section {
}

.c40 {
display:none;
}



}

@media only screen and (max-width:420px) {

.livecontainer_scale {
transform:scale(1, 1);
}

}

.filter_header {
    cursor: pointer;
}

#colorIQ_title {
    cursor: pointer;
}

#brand_title {
    cursor: pointer;
}

#category_title {
    cursor: pointer;
}
